image: node:latest

before_script:
- sudo ci/install-chrome

cache:
  paths:
  - node_modules/
  - example/node_modules/

test_app:
  script:
   - npm install
   - npm install -g angular-cli@1.0.0-beta.18
   - cd example
   - npm install
   - ng test
