# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/example/dist
/example/tmp

/example-old/dist
/example-old/tmp

# dependencies
/node_modules
/example/bower_components
/example/node_modules
/example-old/node_modules
/example-old/bower_components

# IDEs and editors
/.idea
/.vscode
.project
.classpath
*.launch
.settings/
.*.swp
.*.swo

# misc
/.sass-cache
/connect.lock
/example/coverage/*
/example-old/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/example/typings
/example-old/typings

# e2e
/example/e2e/*.js
/example/e2e/*.map
/example-old/e2e/*.js
/example-old/e2e/*.map

#System Files
.DS_Store
Thumbs.db
