image: node:latest

before_script:
- sudo ci/install-chrome
#!/bin/bash
- set -xe
- wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -
- echo "deb http://dl.google.com/linux/chrome/deb/ stable main" > /etc/apt/sources.list.d/google.list

# Update packages
- apt-get update -yqqq

# Install Chrome browser
- apt-get install -y google-chrome-stable

cache:
  paths:
  - node_modules/
  - example/node_modules/

test_app:
  script:
   - npm install
   - npm install -g angular-cli@1.0.0-beta.18
   - cd example
   - npm install
   - ng test
